Flask
Flask-Cors
Flask-JWT-Extended
PyJWT
python-dotenv
openai
requests
pillow
pinecone
langchain-pinecone
langchain-openai
langchain-text-splitters
langchain
langchain-community
pypdf
gitingest
openai-agents
langchain-permit